.echart-tooltip-wrapper {
  line-height: 2em !important;
  color: #fff !important;
  background-color: #000000bb !important;
  border: none !important;
  text-align: left;
  font-family: Hiragino !important;
  .title {
    margin-bottom: 6px;
    font-size: 1.2em;
  }
  .number-value {
    font-family: DINPro;
    font-size: $number-sm;
  }
}
