@font-face {
  font-family: 'Hiragino';
  src: url('../assets/font/Hiragino-Sans-GB-W6.ttf');
  unicode-range: U+0041-005A, U+0061-007A, U+4E00-9FCB; /*  A-Z、a-z 、汉字 */
}
@font-face {
  font-family: Technology;
  src: url('../assets/font/Technology.ttf');
}

@font-face {
  font-family: 'DINPro';
  src: url('../assets/font/DINPro-CondBold.otf');
  unicode-range: U+30-39;
}
