/**
 * @author        : 荣中智能科技(上海)有限公司
 * @date          : 2023-11-09 21:11:04
 * @description   : 全局样式
 */

@import url('font-face.scss');
@import url('reset.scss');
@import url('element-plus.scss');
@import url('echarts.scss');

html {
  color: #fff;
  // font-size: 14px;
  text-underline-offset: 3px;
}

// 滚动条
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
// 用于定制滚动条轨道的样式
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: #58c5cf33;
}
// 用于定制滚动条手柄的样式
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #58c5cf;
}
// 用于定制滚动条手柄在鼠标悬停时的样式。
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
// 用于定制滚动条两端按钮的样式。
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
// 用于定制滚动条角落的样式。
::-webkit-scrollbar-corner {
  background: transparent;
}
// 用于定制滚动条调整大小的样式。
//::-webkit-scrollbar-resizer { background: #bbb; }
// 用于定制滚动条的间隙的样式。
//::-webkit-scrollbar-gutter { background: #ddd; }
// 用于定制滚动条边框的样式。
//::-webkit-scrollbar-border { border: 1px solid #ccc; }
// 用于定制滚动条所有区域的背景样式。
//::-webkit-scrollbar-background { background: #eee; }

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.click {
  cursor: pointer;
  text-decoration: underline;
}

/**
 * echarts tool-tip样式
 */
.tooltip-table {
  td {
    padding: 0 10px;
  }
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden;
  content: '.';
}

// table
table {
  border-collapse: collapse; /* 设置为合并边框 */
}

// 空数据
.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

// 系统主题色

.ga-color {
  background-color: #1a398c;
}

.detail-card header {
  margin-top: 1px;
}
